<html>
<body>
<h1>Create New Restaurant</h1>
<form action="/create" method="post" enctype="multipart/form-data">
<p>
<label>Name:</label>
<input name="name" type="text" required>
</p>
<p>
<label>Owner:</label>
<input name="owner" type="text" required>
</p>
<p>
<label>Cuisine:</label>
<input name="cuisine" type="text">
</p>
<p>
<label>Street:</label>
<input name="street" type="text">
</p>
<p>
<label>Building:</label>
<input name="building" type="text">
</p>
<p>
<label>Zipcode:</label>
<input name="zipcode" type="text">
</p>
<p>
<label>GPS coordinates(lon.):</label>
<input name="lon" type="text">
</p>
<p>
<label>GPS cooridnates(lat.):</label>
<input name="lat" type="text">
</p>
<p>
<label>Photo:</label>
<input name="photo" type="file">
</p>
<p>
<button>Create</button>
</p>
</form>
</body>
</html>